<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screencheese - Log in error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

</head>
<body>
    <section class="section" title="navbar">
        <nav class="navbar is-fixed-top">

            <div class="navbar-menu">
                <div class="navbar-start"> 
                    <div class="navbar-item">
                        <a href="{% url 'screencheese:homepage'%}"><h1 class="title"><strong>Screencheese</strong></h1></a>
                    </div>
                    
                    <div class="navbar-item">
                        <h3>|   log in error page...</h3>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <section>
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">
                    Unable to log in
                </h1>
                <h3 class="subtitle">
                    Check all fields are filled with the correct information.
                </h3>
            </div>
        </div>
    </section>
</body>